
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@annonce) do |f| %>
      <%= f.error_notification %>

      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :capacity %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
