<br>

<br>
<div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="well">
        <h2 class="text-center">New annonce</h2>
        <br>
        <hr>
        <%= simple_form_for(@annonce) do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, placeholder: "Title", label: false %>
          <br>
          <%= f.input :address, placeholder: "Address", label: false%>
          <%= f.input :description, placeholder: "Description", label: false%>
          <%= f.input :price, placeholder: "Price", label: false%>
          <%= f.input :capacity, placeholder: "Capacity", label: false%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <br>
          <%= f.button :submit, class:'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
