<%= @annonce.inspect %>


<div class "row">
  <div class="col-md-4 content">

    <h2><%=@annonce.title %></h2>

    <p><strong>Ville: </strong><%= @annonce.address %></p>
    <p><strong>Description: </strong><%= @annonce.description %></p>
    <p><strong>Capacity: </strong><%= @annonce.capacity %></p>
    <p><strong>Price: </strong><%= @annonce.price %></p>

    <button type="button" class="btn btn-primary-outline"><%= button_to "delete", @annonce, :method => :delete %></button>

  </div>
</div>
